.PlayerSkills {
  background-color: $mainColor;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  color: $textMainColor;
  .skills-container {
    padding: 50px 50px;
    background-color: $secondaryColor;
    border: 5px solid $borderMainColor;
    min-width: 500px;
    p {
      text-align: center;
    }
    p:nth-child(2) {
      min-width: 285px;
    }
    .skills-avaliable {
      color: $textSecondaryColor;
      font-weight: bold;
    }
    .skills-box {
      margin-top: 50px;
      div {
        cursor: pointer;
        span:nth-child(2) {
          color: $textSecondaryColor;
        }
        span:nth-child(3) {
          float: right;
        }
      }
      div:hover {
        opacity: 1;
      }
      .skills-explain {
        padding: 5px 5px;
        font-size: 10px;
        opacity: 0;
        max-width: 80%;
      }
      .btn-add-points {
        padding: 5px 10px;
        font-family: "lexendMegaregular";
        border-radius: 0;
        background-color: #1a1a1a;
        color: $textMainColor;
        border: 2px solid $textMainColor;
        text-transform: uppercase;
        cursor: pointer;
        transition: 2s;
        margin-left: 10px;
      }
    }
    .next-stage-btn {
      text-align: center;
      margin-top: 50px;
      opacity: 0.5;
      pointer-events: none;
      button {
        padding: 10px 40px;
        font-family: "lexendMegaregular";
        border-radius: 0;
        background-color: #1a1a1a;
        color: $textMainColor;
        border: 2px solid $textMainColor;
        text-transform: uppercase;
        cursor: pointer;
        transition: 2s;
      }
    }
    .next-stage-active {
      opacity: 1;
      pointer-events: initial;
    }
    .block-button {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
