@import "./globalSettings", "./intro", "./game", "./playerSkills", "./nextStage",
  "./fonts", "./rules", "./endGame";
body {
  background-color: $mainColor;
  font-family: "lexendMegaregular";
  .display-none {
    display: none;
  }
  a {
    color: #000;
    font-weight: bold;
  }
}
